
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f5f7fb;
}

/* RESET */
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f5f7fb; /* nền trắng nhẹ */
}

/* CENTER */
.login-page,
.auth-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login-content,
.auth-box {
    width: 380px;
    padding: 35px;
    border-radius: 20px;
    text-align: center;

    background: #ffffff;
    color: #0A2647;

    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.login-content h2,
.auth-box h2 {
    margin-bottom: 10px;
}

.login-content input,
.auth-box input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 12px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}
.login-content input:focus,
.auth-box input:focus {
    border-color: #2C74B3;
    box-shadow: 0 0 10px rgba(44,116,179,0.3);
}

/* FOCUS */
.login-content input:focus,
.auth-box input:focus {
    border-color: #2C74B3;
    box-shadow: 0 0 5px rgba(44,116,179,0.3);
}

.login-content button,
.auth-box button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border-radius: 25px;
    border: none;
    background: #0A2647;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.login-content button:hover,
.auth-box button:hover {
    opacity: 0.8;
    transform: translateY(-2px);
    transition: 0.3s;
}
.login-content button:active,
.auth-box button:active {
    opacity: 0.4;
}

.login-content a,
.auth-box a {
    display: inline-block;
    margin-top: 10px;
    color: #2C74B3;
    text-decoration: none;
    font-size: 14px;
}

.login-content a:hover,
.auth-box a:hover {
    text-decoration: underline;
}

.role-select {
    display: flex;
    gap: 15px;
    margin-bottom: 15px;
}

.role-option input {
    display: none;
}

.role-option span {
    display: block;
    padding: 12px 20px;
    border-radius: 12px;
    border: 2px solid #ddd;
    cursor: pointer;
    font-weight: 600;
    color: #555;
    transition: 0.3s;
}

.role-option span:hover {
    border-color: #2C74B3;
}

.role-option input:checked + span {
    background: linear-gradient(135deg, #5f9cff, #7b4dff);
    color: white;
    border: none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
    position: relative;
}

.role-option input:checked + span::before {
    content: "";
    position: absolute;
    left: 8px;
    top: 20%;
    width: 4px;
    height: 60%;
    background: white;
    border-radius: 10px;
}